@model WebStore.Domain.Models.ModelBlogSingle

<div class="blog-post-area">
    <h2 class="title text-center">Последние новости из нашего блога</h2>
    <div class="single-blog-post">
        <h3>@Model.Blog_PostArea.Title</h3>
        <div class="post-meta">
            <ul>
                <li><i class="fa fa-user"></i> @Model.Blog_PostArea.User</li>
                <li><i class="fa fa-clock-o"></i> @Model.Blog_PostArea.Clock</li>
                <li><i class="fa fa-calendar"></i> @Model.Blog_PostArea.Date</li>
            </ul>
            <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </span>
        </div>
        <a href="">
            <img src="~/images/blog/@Model.Blog_PostArea.Pic" alt="">
        </a>

        @foreach (var post in Model.Blog_PostArea.ArrayContext)
        {
            @if (post != Model.Blog_PostArea.ArrayContext.Last()) {<p> @post </p> <br> }
            else { <p> @post </p>}
        }
        <div class="pager-area">
            <ul class="pager pull-right">
                <li><a href="#">Предыдущие</a></li>
                <li><a href="#">Следующее</a></li>
            </ul>
        </div>
    </div>
</div><!--/blog-post-area-->