<div class="replay-box">
    <div class="row">
        <div class="col-sm-4">
            <h2>Оставить сообщение</h2>
            <form>
                <div class="blank-arrow">
                    <label>Ваше имя</label>
                </div>
                <span>*</span>
                <input type="text" placeholder="напишите ваше имя...">
                <div class="blank-arrow">
                    <label>Емайл адрес</label>
                </div>
                <span>*</span>
                <input type="email" placeholder="ваш емайл адрес...">
                <div class="blank-arrow">
                    <label>Веб сайт</label>
                </div>
                <input type="email" placeholder="ваш город...">
            </form>
        </div>
        <div class="col-sm-8">
            <div class="text-area">
                <div class="blank-arrow">
                    <label>Ваше имя</label>
                </div>
                <span>*</span>
                <textarea name="message" rows="11"></textarea>
                <a class="btn btn-primary" href="">Опубликовать сообщение</a>
            </div>
        </div>
    </div>
</div><!--/Repaly Box-->