<div class="checkout-options">
    <h3>Новый пользователь</h3>
    <p>Опции проверки</p>
    <ul class="nav">
        <li>
            <label><input type="checkbox"> Зарегистрировать учетную запись</label>
        </li>
        <li>
            <label><input type="checkbox"> Проверка при входе</label>
        </li>
        <li>
            <a href=""><i class="fa fa-times"></i>Отменить</a>
        </li>
    </ul>
</div><!--/checkout-options-->