<div class="register-req">
    <p>Пожалуйста, используйте Зарегистрированную учетную запись и Проверки входа, чтобы легко получить доступ к истории ваших заказов, или используйте проверки в качестве индентификации</p>
</div><!--/register-req-->