<div class="shopper-informations">
    <div class="row">
        <div class="col-sm-3">
            <div class="shopper-info">
                <p>Информация для входа в свою учетную запись</p>
                <form>
                    <input type="text" placeholder="Отображаемое имя">
                    <input type="text" placeholder="Имя пользователя">
                    <input type="password" placeholder="Password">
                    <input type="password" placeholder="Подтверждение пароля">
                </form>
                <a class="btn btn-primary" href="">Сбросить</a>
                <a class="btn btn-primary" href="">Продолжить</a>
            </div>
        </div>
        <div class="col-sm-5 clearfix">
            <div class="bill-to">
                <p>Личная информация</p>
                <div class="form-one">
                    <form>
                        <input type="text" placeholder="Название компания">
                        <input type="text" placeholder="Емайл*">
                        <input type="text" placeholder="Название">
                        <input type="text" placeholder="Фамилия *">
                        <input type="text" placeholder="Имя">
                        <input type="text" placeholder="Отчество *">
                        <input type="text" placeholder="Адрес 1 *">
                        <input type="text" placeholder="Адрес 2">
                    </form>
                </div>
                <div class="form-two">
                    <form>
                        <input type="text" placeholder="Почтовый Индекс *">
                        <select>
                            <option>-- Страна --</option>
                            <option>Россия</option>
                            <option>United States</option>
                            <option>Bangladesh</option>
                            <option>UK</option>
                            <option>India</option>
                            <option>Pakistan</option>
                            <option>Ucrane</option>
                            <option>Canada</option>
                            <option>Dubai</option>
                        </select>
                        <select>
                            <option>-- Государство / Область / Район --</option>
                            <option>Россия</option>
                            <option>United States</option>
                            <option>Bangladesh</option>
                            <option>UK</option>
                            <option>India</option>
                            <option>Pakistan</option>
                            <option>Ucrane</option>
                            <option>Canada</option>
                            <option>Dubai</option>
                        </select>
                        <input type="password" placeholder="Подтверждение пароля">
                        <input type="text" placeholder="Телефон *">
                        <input type="text" placeholder="Мобильный телефон">
                        <input type="text" placeholder="Факс">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="order-message">
                <p>Параметры для доставки</p>
                <textarea name="message" placeholder="Примечания о вашем заказе, специальные примечания для доставки" rows="16"></textarea>
                <label><input type="checkbox"> Доставка будет производиться по адресу</label>
            </div>
        </div>
    </div>
</div>