<div class="left-sidebar">
    <vc:sections section-id="@Context.Request.Query["SectionId"]"/>

    <vc:brands brand-id="@Context.Request.Query["BrandId"]" />

    <partial name="Partial/_PriceRange" />

    <partial name="Partial/_Shipping" />
</div>
