<footer id="footer">
    <!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2><span>e</span>-shopper</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="~/images/home/iframe1.png" alt="" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>Держите руку на пульсе</p>
                            <h2>24 ДЕК 2014</h2>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="~/images/home/iframe2.png" alt="" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>Держите руку на пульсе</p>
                            <h2>24 ДЕК 2014</h2>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="~/images/home/iframe3.png" alt="" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>Держите руку на пульсе</p>
                            <h2>24 ДЕК 2014</h2>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="~/images/home/iframe4.png" alt="" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>Держите руку на пульсе</p>
                            <h2>24 ДЕК 2014</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="address">
                        <img src="~/images/home/map.png" alt="" />
                        <p>505 S Атлантик Авеню Вирджиния-Бич, Вирджиния(Вирджиния)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Услуги</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Онлайн помощник</a></li>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Статус заказа</a></li>
                            <li><a href="#">Изменить расоложение</a></li>
                            <li><a href="#">FAQ’s</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Типы товаров</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Футболки</a></li>
                            <li><a href="#">Мужчинам</a></li>
                            <li><a href="#">Женщинам</a></li>
                            <li><a href="#">Подарочные карты</a></li>
                            <li><a href="#">Обувь</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Политика</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Правила использования сервисом</a></li>
                            <li><a href="#">Политика конфиденциальности</a></li>
                            <li><a href="#">Условия Возврата</a></li>
                            <li><a href="#">Система оплаты</a></li>
                            <li><a href="#">Система чеков</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Для покупателя</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Информация о компании</a></li>
                            <li><a href="#">Карьера</a></li>
                            <li><a href="#">Расположение магазина</a></li>
                            <li><a href="#">Партнерская программа/a></li>
                            <li><a href="#">Авторское право</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>Подписаться на рассылку</h2>
                        <form action="#" class="searchform">
                            <input type="text" placeholder="Ваш емайл адрес" />
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                            <p>Получайте самые последние обновления от <br />нашего сайта и будьте в курсе последних веений моды...</p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. Все права защищены.</p>
                <p class="pull-right">Разработан <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->